@model ProductApp.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Products Page";
}

<h1>@ViewBag.Title</h1>

<div id="productsPage">
    <ul id="productsList">
        @foreach (var product in Model.products)
        {
            <li class="productItem">
                <img class="productThumb" src="@product.Thumbnail" alt="Product Thumbnail" width="150" height="150">
                <p class="productName">@product.Name</p>

                @{
                    string priceClass = (product.RegularPrice == product.SalePrice) ? "regularPrice" : "discountPrice";
                }

                <p class="@priceClass">@product.RegularPrice</p>

                @if (priceClass == "discountPrice")
                {
                    <p class="newPrice">@product.SalePrice</p>
                }
            </li>
        }
    </ul>
</div>

<div class="pagination-holder clearfix">
    <div id="light-pagination" class="pagination light-theme simple-pagination">
        <a class="previous">&laquo;</a>
        @for (var i = 1; i < Model.pagesCount + 1; i++)
        {
            if (Model.pageNumber == i)
            {
                <a href="#" class="page-link active">@i</a>
            }
            else
            {
                <a href="#" class="page-link">@i</a>
            }
        }
        <a class="next">&raquo;</a>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.simplePagination.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();

        $("#light-pagination").pagination({
            pages: @Model.pagesCount,
            hrefTextPrefix: "/home/index/",
            displayedPages: 8,
            currentPage: @Model.pageNumber,
            cssStyle: 'light-theme'
        });
    });
</script>
